<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\Base\Model\SysInfo\Data\LicenseValidation">
        <plugin name="NoCheckLicense"
                type="MageSquirrel\AmastyDevLicense\Plugin\NoCheckLicense"/>
    </type>
</config>
